<div class="row vertical-center">
  <div class="col-md">
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h1>Welcome to CV Maker</h1>
      </div>
      <div class="card-body">
        <p class="lead">
          Please use the following button to login with our Google Account
        </p>
        <div class="btn btn-primary" (click)="loginService.googleSignin()">Login with Google <i class='fab fa-google'></i></div>
      </div>
    </div>
  </div>
  <div class="col-md">
  </div>

</div>
