<div class="row">
  <div class="col-md">
  </div>
  <div class="col-md-6">

    <!-- input card -->
    <div class="card animax">
      <div class="card-body">

        <!-- form -->
        <form action="Registration.html" method="GET">

          <!-- username field -->
          <div class="form-group was-validated">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="usernamefield" aria-describedby="emailHelp" placeholder="Enter username" required>
          </div>

          <!-- password field -->
          <div class="form-group was-validated">
            <label for="passwordfield">Password</label>
            <div class="input-group" id="alertHere">
              <input type="password" class="form-control" id="passwordfield" placeholder="Password" required>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon">Keep your password a secret</span>
              </div>
            </div>
          </div>

          <!-- submit button -->
          <button type="button" class="btn btn-primary" onclick="nextPage()">Submit</button>
        </form>

      </div>
    </div>
  </div>
  <div class="col-md">
  </div>

</div>
